		*{text-decoration: none; margin: 0; padding: 0; max-width: 100%;}
		html,body{margin: 0; padding: 0; font-family: 'Open Sans', sans-serif; color: #fff; font-size: 18px; background: #fff;
				  letter-spacing: .5px;}
		img{border: none;}
		li{list-style-type: none;}
		div{display: block; margin: 0; padding: 0; box-sizing: border-box;}
		u{text-decoration: underline;}
		s{text-decoration: line-through;}
		i{font-style: italic;}
		b, .bold{font-weight: bold;}
		a:link, a:visited, a:active{text-decoration: none; color: inherit;}
		.Fright{float: right;}
		.Fleft{float: left;}
		.clear{clear: both;}
		.wrapper{width: 100%;}
		.container{max-width: 1200px; margin: auto; width: 100%;}
		.row{padding: 0 30px;}
		.align-left{text-align: left;}
		.inline{display: inline;}
		.inline-block{display: inline-block;}
		.uppercase{text-transform: uppercase;}
		.center{text-align: center;}
		.relative{position: relative;}
		.hidden{display: none;}
		.flex-container{display: flex;}
		.space-between{justify-content: space-between;}
		.LightBlueBack{background: #5FBFF9 !important; margin-top: 40px; border: 2px solid #5FBFF9 !important;}
		.LightBlueColor{color: #5FBFF9;}
		.marbot15{margin-bottom: 15px;}
		.marbot20{margin-bottom: 20px !important;;}
		.marbot30{margin-bottom: 30px;}
		.martop30{margin-top: 30px;}
		.marright5per{margin-right: 5%;}
		.blue-font{color: #294189 !important;}
		.black-font{color: #1B263B;}
		.font20{font-size: 20px;}
		.font26{font-size: 26px;}
		.pad4{padding: 4%;}
		.nomarg{margin: 0 !important;}
		.desktop-hide, .spanish-text{display: none;}
		
		header{padding: 10px; position: relative;}
		.CTA{width: 237px; background-color: #294189; font-weight: bold; text-align: center; padding: 18px 0; font-size: 1.2em;
			 border: 2px solid #294189;}
		.CTA:hover{background-color: #fff; color: #294189; }
		.language-button{width: 130px; border: 2px solid #294189; text-align: center; cursor: pointer; font-size: 22px;
						 font-weight: bold; color: #294189; padding: 10px 0; position: absolute; left: 47%; top: 20%;}
		.language-button:hover {color: #fff; background: #294189;}
		.LightBlueBack:hover{color: #5FBFF9; background: #fff !important;}

		.column{flex: 1; display: flex; justify-content: center; padding: 5% 0;}
		.column50{width: 50%;}
		.column65{width: 65%;}
		.blue-back{background-color: #294189;}
		.mop-back{background: url(../images/hero_product.jpg) no-repeat; background-size: cover; position: relative;}
		h1{font-size: 45px; margin-bottom: 20px;}
		h2{font-size: 34px; margin-bottom: 20px;}
		.blue-back p{font-size: 26px;}
		.two-payments{position: absolute;}

		#kids-wrapper{background: url(../images/hero_children2.jpg) no-repeat; background-size: cover;}
		.opacity-blue{background-color: rgba(60,145,230,0.75); padding: 4% 3%; box-sizing: border-box;}
		.number-div{float: left; border: 1px solid #fff; border-radius: 50%; width: 34px; height: 34px; text-align: center;
					font-weight: bold; padding-top: 4px; box-sizing: border-box;}
		.text-div{float: right; margin-left: 15px; font-weight: bold; width: 90%;}
		.points-div{display: flex; align-items: center; margin-bottom: 30px;}

		.grey-back{background: #E9ECF3; padding: 4%;}
		.desc-box{text-align: center; width: 220px;}
		.desc-box p{font-weight: bold; font-size: 26px; color: #1B263B; margin-top: 20px;}

		.quote-text{color: #253044; margin-top: 15px; margin-bottom: 25px;}
		.testimonial-div{width: 270px; margin-right: 30px; position: relative;}
		.quote-icon{margin-top: -40px;}
		.testimonial-wrapper{float: right;}
		.blue-number{border: 1px solid #294189; color: #294189;}
		.blue-text{color: #1B263B; font-weight: 100; font-size: 16px; margin-left: 10px;}
		#lower-map{width: 150px; height: 400px;}
		.includes-div{padding-top: 100px; margin-right: 30px;}

		footer{background: #1B263B; text-align: center;}

		@media only screen and (max-width: 1300px) {
			#left-mop{display: none;}
			.testimonial-wrapper{float: none;}
		}

		@media only screen and (max-width: 1150px) {
			#lower-map{display: none;}
			.includes-div{padding-top: 50px; margin-right: 0px;}
		}

		@media only screen and (max-width: 960px) {
			html,body{font-size: 16px;}
			.language-button{position: initial; float: right; margin-top: 10px;}
			.flex-container{display: block;}
			.mobile-hide{display: none;}
			.column65, .column50{width: 100%;}
			.column{padding: 5%;}
			h1{font-size: 25px;}
			h2{font-size: 22px;}
			.blue-back p{font-size: 18px;}
			.CTA{margin: 15px auto; width: 95%;}
			.mobile-center{text-align: center;}
			.mop-back{height: 345px;}
			.opacity-blue{background-color: #3C91E6;}
			.desc-box, .testimonial-div{width: auto;}
			.desc-box p{margin: 10px 0 20px;}
			.pad4, .grey-back{padding: 8% 0;}
			.testimonial-div{margin: auto; text-align: center;}
			.desktop-hide{display: block;}
			.mobileFont18{font-size: 18px; font-weight: 100;}
			.mobileFont14{font-size: 14px;}
			footer{padding: 8% 8% 2% !important;}
		}